<ion-view view-title="Les Niveaux">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div ui-sref="app.gallery({level:1})" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/pokemon.jpg');"></span>
                    <strong>Niveau 1</strong> 3x3
                    <div class="card-footer text-right">
                        <i class="icon ion-ios-checkmark"></i> 50 pts
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 7 min
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery({level:2})" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/spiderman.jpg');"></span>
                    <strong>Niveau 2</strong>  4x4
                    <div class="card-footer text-right">
                        <i class="icon ion-ios-checkmark"></i> 50 pts
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 7 min
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery({level:3})" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/indestructibles.jpg');"></span>
                    <strong>Niveau 3</strong> 5x5
                    <div class="card-footer text-right">
                        <i class="icon ion-ios-checkmark"></i> 50 pts
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 7 min
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
