<ion-view view-title="Détail Campagne">
  <ion-content class="contents" ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <div class="hero slide-up" style="background-image: url('img/worl_cola.jpg');">
            <div class="content">
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <!--<a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>-->
            <!--<a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>-->
            
            <!--<a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>-->

        </div>
        <div style="text-align:justify; padding: 2%; " >
            <h2>{{campagne.title}}</h2>
            {{campagne.description}}
        </div>
        
        <div  >
            <a class="item item-icon-left" ><i class="icon ion-ios-calendar"></i>{{campagne.date}}</a>
        </div>
        </ion-content>
</ion-view>
