<ion-view view-title="Informations Utiles">
  <ion-content class="contents" ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <div  style="margin-top: 6%;">
          <h1> Devenir Client</h1>
          <p  align="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula vel dui at semper. Suspendisse iaculis eleifend nunc, aliquet scelerisque ipsum hendrerit id. Nam elit odio, maximus rhoncus feugiat quis, luctus in mi. Morbi venenatis quam sit amet lorem pharetra dignissim. Maecenas in cursus felis. Sed id nisi in ex consectetur vulputate vitae sed massa
          </p>
    </div>

    <div  style="margin-top: 5%;">
          <h1> Devenir Fournisseur</h1>
          <p  align="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula vel dui at semper. Suspendisse iaculis eleifend nunc, aliquet scelerisque ipsum hendrerit id. Nam elit odio, maximus rhoncus feugiat quis, luctus in mi. Morbi venenatis quam sit amet lorem pharetra dignissim. Maecenas in cursus felis. Sed id nisi in ex consectetur vulputate vitae sed massa
          </>
    </div>

  </ion-content>
</ion-view>
