<ion-view view-title="Informations Utiles">
  <ion-content class="contents"  >
    <div  style="margin-top: 10%; padding: 0%;">
          <a class="button button-full button-assertive ink" href="#"> Devenir Client</a>
          <div  style="margin: 0%; padding: 0%; text-align: justify-all;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula vel dui at semper. Suspendisse iaculis eleifend nunc, aliquet scelerisque ipsum hendrerit id. Nam elit odio, maximus rhoncus feugiat quis, luctus in mi. Morbi venenatis quam sit amet lorem pharetra dignissim. Maecenas in cursus felis. Sed id nisi in ex consectetur vulputate vitae sed massa
          </div>
    </div>

    <div  style="margin: 0%; padding: 0%;">
          <a class="button button-full button-assertive ink" href="#"> Devenir Fournisseur</a>
          <div  style="margin: 0%; padding: 0%; text-align: justify-all;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula vel dui at semper. Suspendisse iaculis eleifend nunc, aliquet scelerisque ipsum hendrerit id. Nam elit odio, maximus rhoncus feugiat quis, luctus in mi. Morbi venenatis quam sit amet lorem pharetra dignissim. Maecenas in cursus felis. Sed id nisi in ex consectetur vulputate vitae sed massa
          </div>
    </div>

  </ion-content>
</ion-view>
