<ion-view view-title="Détail du Jeu">
  <ion-content class="contents" ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <div class="hero slide-up" style="background-image: url('img/kwilu_small.png');">
            <div class="content">
                
                
                
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <!--<a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>-->
            <!--<a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>-->
           
            <!--<a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>-->

        </div>
        <div style="text-align:justify; padding: 2%; " >
            <h3><a > {{jeu.titre}}</a></h3>
            {{jeu.description}}
        </div>
       <center><h3>Lots à gagner</h3></center>
            <section class="timeline">
                  <ul>
                     <ion-list  ng-repeat="lot in jeu.lots">
                     <li>
                      <div>
                        <h4>{{lot}}</h4>                         
                      </div>
                    </li>
                    </ion-list>
                  </ul>
                </section>
        </ion-content>
</ion-view>
