<ion-view view-title="Détails du Concours">
  <ion-content class="contents" ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <div class="hero slide-up" style="background-image: url({{jeu.image}});">
            <div class="content">     
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
           
        </div>
        <div style="text-align:justify; padding: 2%; " >
            <h2> {{jeu.titre}}</h2>
             <p ng-bind-html="jeu.description"></p>
        </div>
      
            <div style="text-align:justify; padding: 2%; " >
                Pour plus d'informations rendez-vous sur la page facebook               
            </div>
            <div style="text-align:center; padding: 2%; " >
              <a  style="color: #fff;background-color: #387ef5;" ng-href="{{jeu.lien}}" onclick="window.open(this.href, '_system', 'location=yes'); return false;" class="button button-icon button-positive icon ion-social-facebook icon-right"> Jouez </a>
                              
            </div>
            <div class="item item-image">
                <img class="full-image"  src="{{jeu.image}}">
        </div>
        </ion-content>
</ion-view>
