<ion-view view-title="Détails du Concours">
  <ion-content class="contents" ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <div class="hero slide-up" style="background-image: url({{jeu.image}});">
            <div class="content">     
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
           
        </div>
        <div style="text-align:justify; padding: 2%; " >
            <h2> {{jeu.titre}}</h2>
             <p ng-bind-html="jeu.description"></p>
        </div>
      
            <div style="text-align:justify; padding: 2%; " >
                Pour plus d'informations rendez-vous sur la page facebook               
            </div>
            <div style="text-align:center; padding: 2%; " >
              <a  href="#" onclick="window.open('{{jeu.lien}}', '_system', 'location=yes'); return false;"> <img src="img/facebook.png" style="width: 50%;height: 35px;"> </a>
                              
            </div>
        </ion-content>
</ion-view>
