<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;" scroll="false">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Bracongo</h1>
            </div>
        </div>
        <div class="list">
             <ion-md-input placeholder="Nom" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Utilisateur" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="E-mail" highlight-color="balanced" type="email"></ion-md-input>
            <ion-md-input placeholder="Mot de passe" highlight-color="energized" type="password"></ion-md-input>
            <ion-md-input placeholder="Téléphone" highlight-color="energized" type="tel"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.accueil" class="button button-full button-assertive ink">Enregistrement</button>
        </div>
        
    </ion-content>
</ion-view>
