<ion-view view-title="Login" align-title="left" cache-view="false">
    <ion-content style="background: url(img/Login.png) center; background-size: cover;" >
        <div class="hero no-header flat">
            
        </div>
        <div class="list" style="background-color: transparent important!;">
             <ion-md-input placeholder="Nom" highlight-color="balanced" type="text" ng-model="loginData.nom" style="background-color: transparent important!;"></ion-md-input>
            <ion-md-input placeholder="Utilisateur" highlight-color="balanced" type="text" ng-model="loginData.login"></ion-md-input>
            <ion-md-input placeholder="E-mail" highlight-color="balanced" type="email" ng-model="loginData.mail"></ion-md-input >
            <ion-md-input placeholder="Mot de passe" highlight-color="energized" type="password" ng-model="loginData.passwd"></ion-md-input>
        </div>
        <div class="padding">
            <button ng-click="login()" class="button button-full button-dark ink">Enregistrement</button>
        </div>
        
    </ion-content>
</ion-view>
