<ion-view view-title="Animations de la semaine">
  <ion-content class="contents"  scroll="true" >

<div style="margin: 3%;">
  .
</div>


  <div   ng-repeat="p in planning" >
    <div  style="background-color: #da2d2d;color: #000;padding: 2%;" >
      {{p.jour}}
    </div>
            <div class="row">
              <div class="list card"   ng-repeat="anim in p.anims" style="padding-bottom: 0%;">
                <div class="col"> 
            <div class="item item-image" >
                <img class="full-image" src="img/marque.png">
            </div>
           <div class="item" style="font-size: 10px; padding-bottom: 0%;">          
                <i class="icon ion-calendar "></i> {{anim.heure}} </br>
                <i class="icon ion-location "></i> {{anim.lieu}}</br>
                <i class="icon ion-calendar "></i> {{anim.responsable}}
               </p>
          </div> 
           </div>
      </div>
            </div>
      </div>



   

  </ion-content>
</ion-view>

