<ion-modal-view>
<!-- <ion-header-bar class="bar-balanced"> -->
  <ion-header-bar class="bar-dark">
    <h1 class="title">Remplir le formulaire</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">
        <i class="icon ion-close"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class= "splash">
 <form >
  <div ng-show="prixUnique<0">
      <div class="row responsive-sm" style="border: 0px 0px 0px 0px !important white;">
        <div class="col" style="border: 0px 0px 0px 0px !important white;">
          <label class="item item-input">
            <input type="text" placeholder="Nombre de places" ng-model="loginData.nbrPlace">
          </label>
        </div>
      </div> 
       <!--
      <div class="row responsive-sm" style="border: 0px 0px 0px 0px !important white;">
        <div class="col" style="border: 0px 0px 0px 0px !important white !important;">
           <ion-checkbox ng-model="loginData.biere">Bière</ion-checkbox>
          
        </div>
      </div>

      <div class="row responsive-sm" ng-show="loginData.biere" style="border: 0px 0px 0px 0px !important white;">
        <div class="col"style="border: 0px 0px 0px 0px !important white;">
            <ion-checkbox ng-model="loginData.casier">Casier</ion-checkbox>
        </div>
        <div class="col"style="border: 0px 0px 0px 0px !important white;">
            <ion-checkbox ng-model="loginData.pression">Pression</ion-checkbox>
        </div>
        -->

        <!--
        <div class="row responsive-sm" ng-show="loginData.casier" style="border: 0px 0px 0px 0px !important white;">
          <div class="row responsive-sm" style="border: 0px 0px 0px 0px !important white;">
            <div class="col"style="border:0px 0px 0px 0px !important white;">
              <label class="item item-input">
                <span class="input-label">Nombre Casiers Beaufort</span>
                <input type="number"  ng-model="loginData.nbrCasierBeau">
              </label>
            </div>
          </div>
          <div class="row responsive-sm" style="border: 0px 0px 0px 0px !important white;">
            <div class="col"style="border: 0px 0px 0px 0px !important white;">
              <label class="item item-input">
                <span class="input-label">Nombre Casiers Castel</span>
                <input type="number"  ng-model="loginData.nbrCasierCastel">
              </label>
            </div>
          </div>
           <div class="row responsive-sm" style="border: 0px 0px 0px 0px !important white;">
            <div class="col"style="border: 0px 0px 0px 0px !important white;">
              <label class="item item-input">
                <span class="input-label">Nombre Casiers Doppel</span>
                <input type="number"  ng-model="loginData.nbrCasierDoppel">
              </label>
            </div>
          </div>
          <div class="row responsive-sm" style="border: 0px 0px 0px 0px !important white;">
            <div class="col"style="border: 0px 0px 0px 0px !important white;">
              <label class="item item-input">
                <span class="input-label">Nombre Casiers Tembo</span>
                <input type="number"  ng-model="loginData.nbrCasierTembo">
              </label>
            </div>
          </div>
          <div class="row responsive-sm" style="border: 0px 0px 0px 0px !important white;">
            <div class="col"style="border: 0px 0px 0px 0px !important white;">
              <label class="item item-input">
                <span class="input-label">Nombre Casiers Skol</span>
                <input type="number"  ng-model="loginData.nbrCasierSkol">
              </label>
            </div>
          </div>
          <div class="row responsive-sm" style="border: 0px 0px 0px 0px !important white;">
            <div class="col"style="border: 0px 0px 0px 0px !important white;">
              <label class="item item-input">
                <span class="input-label">Nombre Casiers Doppel</span>
                <input type="number"  ng-model="loginData.nbrCasierNkoyi">
              </label>
            </div>
          </div>
          <div class="row responsive-sm" style="border: 0px 0px 0px 0px !important white;">
            <div class="col"style="border: 0px 0px 0px 0px !important white;">
              <label class="item item-input">
                <span class="input-label">Nombre Casiers Doppel</span>
                <input type="number"  ng-model="loginData.nbrCasierNkoyiBlack">
              </label>
            </div>
          </div>
      </div> 
    -->
     <!--
      </div>

      <div class="row responsive-sm" style="border: 0px 0px 0px 0px !important white;">
        <div class="col" style="border: 0px 0px 0px 0px !important white !important;">
           <ion-checkbox ng-model="loginData.bg">Boisson Gazeuse</ion-checkbox>
            
        </div>
      </div>
      -->
      <!--
      <div class="row responsive-sm" ng-show="loginData.bg" style="border: 0px 0px 0px 0px !important white;">
          <div class="row responsive-sm" style="border: 0px 0px 0px 0px !important white;">
            <div class="col"style="border:0px 0px 0px 0px !important white;">
              <label class="item item-input">
                <span class="input-label">Nombre Casiers</span>
                <input type="number"  ng-model="loginData.bg">
              </label>
            </div>
          </div>
        </div>
      -->
      

      <div class="row responsive-sm"> 
        <div class="col">
          <button  class="button button-block button-assertive ink" type="submit" ng-click="prixGlobal()"> 
          Calculer
          </button>
        </div>
      </div>
      </div>
        <div class="col" ng-show="prixUnique>0">
          <button  class="button button-block button-balanced  ink" type="submit" ng-click="reinitialier()"> 
          Reinitialiser
          </button>
        </div>
      <div class="row responsive-sm" ng-show="prixUnique>0"> 
        <p class="alert alert-success" style="text-align: left">
            Pour {{loginData.nbrPlace}} places, prévoir environ </strong>{{prixG}}$ </strong>.  Vous aurez droit à: </br>
           - Hotesses  </br>
           - Barmans  </br>
           - Boisson  </br>
           - Tables  </br>
           - Chaises  </br>
           - Verres  </br>
           - Plateaux  </br>
           - Mise en place 2h avant l'évènement et nettoyage après évènement</p>
        </p>
        <p class="alert alert-success" style="text-align: left">
           Bien vouloir contacter le Service fête pour plus amples informations. Merci
        </p>
      </div>
    </form>
    
    </ion-content>
</ion-modal-view>