<ion-view view-title="Réalité augmentée" align-title="left" cache-view="false">
    <ion-content class="contents" ng-class="{expanded:isExpanded}" style="background-color: #f43333; background-size: cover; ">
        <div style="margin-top: 5%; padding-left: 5%; margin-bottom: 1%;">
        </div>
        <div style="color:#ffffff !important; text-align: center">
            <h2 style="color:#ffffff !important;">Bienvenue</h2>
            <p style="color:#ffffff !important; text-align: center; margin-top:10%; font-size: 170%; line-height: 2;">
                Placer l'objectif de votre appareil devant une éttiquette et profitez
            </p>
        </div>
        <div style="color:#ffffff !important; text-align: center">
            <button ng-click="login()" class="button button-outline  ink" style="border-color: #ffffff !important; color: #ffffff">C'est parti</button>
        </div>

    </ion-content>
</ion-view>