/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/

.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}
.myMenu{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: none;
    border-right: none;
    min-height: 48px;
    text-align: left;
}



/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/logo_big.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  left: 4px;;
  width: 4px;
  margin-left: 10px ;
  padding-bottom: 10px;
  background: #444; }

.timeline ul li::before {
  content: '';
  position: absolute;
  left: 0;
  transform: translateX(-45%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: inherit; }

.timeline ul li div {
  position: relative;
  bottom: 0;
  left: 35px;
  width: 250px;
  padding: 5px;
 /* background: rgba(108, 141, 230, 1);*/ }

.timeline ul li div::before {
  content: '';
    left: -15px;
  position: absolute;
  top: 2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 16px 8px 0;
  border-color: transparent #444 transparent transparent; 
}
.button.button-assertive {
    border-color: #e42012;
    background-color: #B71C1C;
    color: #fff;
}
.bar-assertive{
  border-color: #e42012;
    background-color: #B71C1C;
    color: #fff;
}

/* Menu de la page d'accueil*/
#myHeader{

}

#fhm_page,
.fhm_container {
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  margin-top: 6%;
}

.fhm_row {
  /* position: absolute;*/
  height: 25%;
  left:0;
  right:0;
  background-color:#000000;
  clear:both;
  padding-top: 0%;
  padding-bottom:0%;
  margin-bottom: 0%;
  margin-top: 0%;
}
.fhm_item {
  height: 99.5%;
  width:33%;
  background-color: #000000;
  border: 0px solid #000000;
  padding-top: 0%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom:1%;
  margin-bottom: 1%;
  margin-top: 0%;
  margin-left: 0%;
  margin-right:0%;
  float:left;
   font-family: Arial,  Helvetica,  sans-serif;  
    font-size: 50 px;  
    color: black;  
    text-align: center;  
    border: 0 px solid #000000;
    position:relative; /*it can be fixed too*/
       

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        
}

.sp{  
position: absolute;  
top:0;  
right:0;  
left:0;  
bottom:0;  
margin: auto;  
width:100%;  
height: 10%;   
} 

/*
.fhm_item1  
{  
    background-color: #1d8a77;   
}  
  
.fhm_item2  
{  
background-color: #ff6600;  
}  
.fhm_item3   
{  
    background-color: #dd5151;  
}  
.fhm_item4   
{  
    background-color: #6bc042;  
}  
.fhm_item5   
{  
background-color: #ffca2a;  
}  
.fhm_item6  
{  
    background-color: #0086dc;  
}  
*/
/*For map*/
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}
/* For rating*/
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 3px;
}
ul.rating li i {
  font-size: 15px;
}

.gallery {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
/******* Checkbox *******/

.checkbox input:checked::before, .checkbox input:checked + .checkbox-icon::before {
    background: #B71C1C;
    border-color: #B71C1C;
}
.checkbox input:checked::before, .checkbox input:checked + .checkbox-icon::before {
    background: #B71C1C;
    border-color: #B71C1C;
}

.contents{
  background-color: #eff0f1;
} 

#fhm_page{
  background-color: #000000;
}